footer.footer--principal
	.logo.logo--footer: img(src="../images/logo--footer.svg")
	nav.nav--footer: ul
		li: a(href="pagina-principal.html") Home
		li: a(href="articulo.html") Artículo
		li: a(href="perfil.html") Perfil
		li: a(href="resultados-busqueda.html") Resultados búsqueda
	.nav--social: ul
		li Siguenos
		li: a(href="#"): i.fab.fa-instagram
		li: a(href="#"): i.fab.fa-pinterest
		li: a(href="#"): i.fab.fa-twitter
		li: a(href="#"): i.fab.fa-facebook-f