header.header--principal
	.logo.logo--header: img(src="../images/logo--header.svg")
	nav.nav--header: ul
		li: a(href="pagina-principal.html") Home
		li: a(href="articulo.html") Artículo
		li: a(href="perfil.html") Perfil
		li: a(href="resultados-busqueda.html") Resultados búsqueda
	a(href="#" class="header__busqueda")
		i.fas.fa-search
		span Search
	.mobile--menu
		i.fas.fa-bars
