@use 'globales' as *;
@use 'breakpoints' as *;

.contenedor--articulo {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.articulos {
	padding: 50px;
	@include media(mobile){
		padding: 0px 50px;
	}
}
.articulo {
	margin-bottom: 75px;
	border-bottom: 3px solid $color-secundario;
	&__categoria {
		font-weight: 500;
		font-size: 14px;
		color: $color-secundario;
		@include titulos($Fuente2);
	}
	&__titulo {
		font-size: 20px;
		color: $color-primario;
		@include titulos($Fuente2);
	}
	&__descripcion {
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 30px;
	}
}

.articulo--principal {
	padding: 50px 10px;
	max-width: 660px;
	margin: 0 auto;
	&__intro {
		@include font-size(25px);
	}	
	h3 {
		margin: 25px 0;
		color: $color-secundario;
		@include font-size(25px);
	}
	h2 {
		margin: 40px 0 40px 0;	
		text-align: center;
	}	
}